.container {
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.mainText {
  color: #4146a7;
}
.mainPar {
  color: rgb(59, 8, 8);
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}

.textAutor {
  color: rgb(59, 8, 8);
}
